In [4]:
import pandas as pd
import numpy as np
movies_df = pd.read_table('ml-1m/movies.dat',header=None,sep='::',names=['movie_id','movie_title','movie_genre'])
movies_df.head()

/Users/hyosari/.pyenv/versions/anaconda2-4.3.1/lib/python2.7/site-packages/ipykernel/__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()

   movie_id                         movie_title                   movie_genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

## Dummy Variable 
### This is a way to convert category variable in to multiple columns(one column names Animation, one names Comedy etc. )

pandas.concat : Concatenate pandas objects along a particular axis with optional set logic along the other axes.
                axis : {0/’index’, 1/’columns’}, default 0

In [13]:
movies_df = pd.concat([movies_df,movies_df.movie_genre.str.get_dummies(sep='|')],axis=1)
movies_df.head()

,movie_id,movie_title,movie_genre,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
movies_categories=movies_df.columns[3:]
movies_df.loc[0]

movie_id                                 1
movie_title               Toy Story (1995)
movie_genre    Animation|Children's|Comedy
Action                                   0
Adventure                                0
Animation                                1
Children's                               1
Comedy                                   1
Crime                                    0
Documentary                              0
Drama                                    0
Fantasy                                  0
Film-Noir                                0
Horror                                   0
Musical                                  0
Mystery                                  0
Romance                                  0
Sci-Fi                                   0
Thriller                                 0
War                                      0
Western                                  0
Name: 0, dtype: object

### Let's create a user with strong preference for action, adventure and fiction movies.

In [16]:
from collections import OrderedDict

user_prferences = OrderedDict(zip(movies_categories,[]))

user_prferences['Action'] = 5
user_prferences['Adventure'] = 5
user_prferences['Anmation'] = 1
user_prferences["Children's"] = 1
user_prferences['Comedy'] = 3
user_prferences['Crime'] = 2
user_prferences['Documentary'] = 1 
user_prferences['Drama'] = 1
user_prferences['Fantasy'] = 5
user_prferences['Film-Noir'] = 1
user_prferences['Horror'] = 2
user_prferences['Musical'] = 1
user_prferences['Mystery'] = 3
user_prferences['Romance'] = 1
user_prferences['Sci-Fi'] = 5
user_prferences['Thriller'] = 2 
user_prferences['War'] = 3
user_prferences['Western'] = 1

### compute the socre of a movie for a specific user

In [18]:
def dot_product(vector_1,vector_2):
    return sum([i*j for i,j in zip(vector_1,vector_2)] )
def get_movie_score(movie_features,user_prferences):
    return dot_product(movie_features,user_prferences)

example movie 1 : Toy story

In [19]:
toy_movie_features = movies_df.loc[0][movies_categories]
toy_movie_features

Action         0
Adventure      0
Animation      1
Children's     1
Comedy         1
Crime          0
Documentary    0
Drama          0
Fantasy        0
Film-Noir      0
Horror         0
Musical        0
Mystery        0
Romance        0
Sci-Fi         0
Thriller       0
War            0
Western        0
Name: 0, dtype: object

In [28]:
toy_story_user_predicted_score = get_movie_score(toy_movie_features,user_prferences.values())
toy_story_user_predicted_score

5

example movie 2 : Die Hard<br>
pandas.Serise.str.contains(' ')

In [25]:
movies_df[movies_df.movie_title.str.contains('Die Hard')]

,movie_id,movie_title,movie_genre,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
163,165,Die Hard: With a Vengeance (1995),Action|Thriller,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1023,1036,Die Hard (1988),Action|Thriller,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1349,1370,Die Hard 2 (1990),Action|Thriller,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [27]:
die_hard_id = 165
die_hard_features = movies_df[movies_df.movie_id== die_hard_id][movies_categories]
die_hard_features.T

             163
Action         1
Adventure      0
Animation      0
Children's     0
Comedy         0
Crime          0
Documentary    0
Drama          0
Fantasy        0
Film-Noir      0
Horror         0
Musical        0
Mystery        0
Romance        0
Sci-Fi         0
Thriller       1
War            0
Western        0

In [31]:
die_hard_user_predicted_score = get_movie_score(die_hard_features.values[0],user_prferences.values())
die_hard_user_predicted_score

7

##  Calculating the score for all the movies and returning those with the highest scores.

In [36]:
def get_movie_recommendation(user_prferences,n_recommendations):
    movies_df['score'] = movies_df[movies_categories].apply(get_movie_score,args=[user_prferences.values()],axis=1)
    return movies_df.sort_values(by=['score'],ascending=False)[['movie_title','score']][:n_recommendations]

In [37]:
get_movie_recommendation(user_prferences,10)

                                            movie_title  score
1197                            Army of Darkness (1993)     20
2253                                     Soldier (1998)     20
2559   Star Wars: Episode I - The Phantom Menace (1999)     20
257           Star Wars: Episode IV - A New Hope (1977)     20
2036                                        Tron (1982)     20
1985                    Honey, I Shrunk the Kids (1989)     19
1192  Star Wars: Episode VI - Return of the Jedi (1983)     19
1178  Star Wars: Episode V - The Empire Strikes Back...     19
1630                           Starship Troopers (1997)     18
1539                                Men in Black (1997)     18

In [41]:
type(movies_categories)

pandas.indexes.base.Index